@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer utilities {
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  
  .font-griffy {
    font-family: 'Griffy', cursive;
  }
}